/* here you can put your own css to customize and override the theme */
.centralizado{
    text-align: center !important;
}
.bolder{
    font-weight: bolder !important;
}
.direito{
    text-align: right !important;
}
.esquerdo{
    text-align: left !important;
}